*{
    margin:0;
    padding: 0;
}
.header{
    height:100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px rgb(22, 124, 165);
    text-transform: capitalize;
}
.logo{
    height: 48px;
padding: 2px 10px;
}
.icon-bar{
    background:rgb(0, 128, 28);
}
li a{
    color: rgb(139, 127, 19);
}
.big-text{
    font-size: 30px;
    margin: 20px 0;
    color:rgb(178, 34, 135);
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn:hover{
    background-color: rgb(152, 228, 122);
    border:none;
    color:rgb(9, 216, 216);
    box-shadow: 5px 5px 10px rgb(223, 172, 4);
    transition: 0.3s;
}
